<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico">
    <title>Help</title>
</head>

<body>
    <div class="main">
        {{>header}}
        <h1 class="heading">{{title}}</h1>
        <p class="content">This App will help you to find the meaning of a word. Components used to make this app are
            Nodejs, Express, javaScript, css3, Html5</p>
        <p class="cta">If you found any issue let me know...😊</p>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>